<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auth</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>oauth2.authorizationEndpoint</key>
				<string>https://6dcf76a7trial-dev-com-sap-example.cfapps.eu10.hana.ondemand.com/oauth2/api/v1/authorize</string>
				<key>oauth2.clients</key>
				<array>
					<dict>
						<key>clientID</key>
						<string>d9d70158-a9f3-4603-8967-2be6ed818d2c</string>
						<key>grantType</key>
						<string>authorization_code</string>
						<key>redirectURL</key>
						<string>https://6dcf76a7trial-dev-com-sap-example.cfapps.eu10.hana.ondemand.com</string>
					</dict>
				</array>
				<key>oauth2.tokenEndpoint</key>
				<string>https://6dcf76a7trial-dev-com-sap-example.cfapps.eu10.hana.ondemand.com/oauth2/api/v1/token</string>
				<key>oauth2.xsuaaAuthorizationEndpoint</key>
				<string>https://6dcf76a7trial.authentication.eu10.hana.ondemand.com/oauth/authorize?response_type=code&amp;client_id=sb-com-sap-example-dev!t108471&amp;redirect_uri=https%3A%2F%2F6dcf76a7trial-dev-com-sap-example.cfapps.eu10.hana.ondemand.com%2Flogin%2Fcallback</string>
			</dict>
			<key>type</key>
			<string>oauth2</string>
		</dict>
	</array>
	<key>host</key>
	<string>6dcf76a7trial-dev-com-sap-example.cfapps.eu10.hana.ondemand.com</string>
	<key>protocol</key>
	<string>https</string>
</dict>
</plist>
